.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: black;
}

.logo {
  height: 40px;
  width: auto;
}

.toolbar-title {
  font-size: 24px;
  font-weight: 900;
  // color: white;
}

mat-toolbar {
  background-color: white;

  span {
    font-size: 24px;
    font-weight: 700;
    color: #248de4;
  }
}
